<!-- div container -->
</div> 


<!-- <div class="footer-padding">
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div> -->
  
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Made with ❤️ by The App Brewery</small>
  </div>
</footer>
<!-- <footer class="footer">
  <div class="container">
    <p class="text-muted">Made with ❤️ by The App Brewery</p>
  </div>
</footer> -->
</body>
</html>
